<header class="bg-white">
  <nav class="container d-flex gap-8 py-4 align-items-center">
    <div class="brand-area">
      <h1 class="h6 m-0 brand-name">Airfolio</h1>
    </div>
    <ul class="nav-list d-none d-lg-flex gap-8 align-items-center">
      <li class="nav-item"><a href="#" class="nav-item-link">About Us</a></li>
      <li class="nav-item"><a href="#" class="nav-item-link">Services</a></li>
      <li class="nav-item"><a href="#" class="nav-item-link">Portfolio</a></li>
      <li class="nav-item"><a href="#" class="nav-item-link">Pages</a></li>
      <li class="nav-item"><a href="#" class="nav-item-link">Cart</a></li>
    </ul>
    <a href="#" class="btn btn-primary-1 text-white rounded btn-lg ms-auto"
      >Hire Me</a
    >
  </nav>
</header>
