<section class="pb-0" style="--_section-bg: #f6f8ff">
  <div class="container d-grid grid-col-1 grid-col-lg-2 gap-80">
    <div class="hero-content d-flex flex-column gap-6">
      <p>Hi there,My name is Jane Cooper</p>
      <h1>Showcase Your Work with Airfolio's Creative Solutions</h1>
      <p>
        Create stunning portfolios and websites with Airfolio's UI/UX design and
        Webflow development services.
      </p>
      <div class="d-flex gap-4">
        <a href="#" class="btn btn-primary-1 text-white rounded btn-lg"
          >Hire Me</a
        >
        <a href="#" class="btn btn-outline-primary-1 rounded btn-lg"
          >Portfolio</a
        >
      </div>
    </div>
    <img
      src="/assets/pages/home/hero image.png"
      alt=""
      class="hero-img w-100"
    />
  </div>
</section>
