:root {
  --_base-padding-y: 3rem;
  --_section-spacing-top: 7rem;
  --_section-bg: var(--white);
}

section, .section {
  background-color: var(--_section-bg);
  &:not(header){
    padding-top: var(--_section-spacing-top);
    padding-bottom: var(--_section-spacing-top);
  }
}

.mt-section {
  margin-top: var(--_section-spacing-top);
}

.mb-section {
  margin-bottom: var(--_section-spacing-top);
}

.my-section {
  margin-top: var(--_section-spacing-top);
  margin-bottom: var(--_section-spacing-top);
}
@each $breakpoint-tag, $breakpoint-screen in $breakpoints{
  @media (min-width: $breakpoint-screen) {
    .mt-#{$breakpoint-tag}-section {
      margin-top: var(--_section-spacing-top);
    }

    .mb-#{$breakpoint-tag}-section {
      margin-bottom: var(--_section-spacing-top);
    }

    .my-#{$breakpoint-tag}-section {
      margin-top: var(--_section-spacing-top);
      margin-bottom: var(--_section-spacing-top);
    }
  }
}

.pt-section {
  padding-top: var(--_section-spacing-top);
}

.pb-section {
  padding-bottom: var(--_section-spacing-top);
}

.py-section {
  padding-top: var(--_section-spacing-top);
  padding-bottom: var(--_section-spacing-top);
}
@each $breakpoint-tag, $breakpoint-screen in $breakpoints{
  @media (min-width: $breakpoint-screen) {
    .pt-#{$breakpoint-tag}-section {
      padding-top: var(--_section-spacing-top);
    }

    .pb-#{$breakpoint-tag}-section {
      padding-bottom: var(--_section-spacing-top);
    }

    .py-#{$breakpoint-tag}-section {
      padding-top: var(--_section-spacing-top);
      padding-bottom: var(--_section-spacing-top);
    }
  }
}

.section-name {
  color: var(--primary-text);
}
