<section [style]="'--_section-bg: ' + sectionColor">
  <div class="container d-flex flex-column gap-80">
    <div class="d-grid grid-col-1 grid-col-lg-2 gap-80">
      <div class="section-title">
        <h1 class="fs-16 mb-4">Our Services</h1>
        <h2 class="fs-40">Take a look at the variety of services I offer.</h2>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero
      </p>
    </div>
    <div class="section-body">
      <div class="d-grid grid-col-1 grid-col-md-2 grid-col-lg-4 gap-6 mb-12">
        <app-card-default
          class="shadow-md bg-white"
          style="border-radius: 1rem"
          *ngFor="let card of cards; let i = index"
          [cardContent]="card"
        >
          <ng-container ngProjectAs="on-top">
            <div
              class="icon-area shadow-sm d-grid me-auto"
              style="
                border-radius: 1rem;
                place-items: center;
                width: 100px;
                height: 100px;
              "
            >
              <img [src]="'/assets/pages/home/' + cardIcons[i]" alt="" />
            </div>
          </ng-container>
        </app-card-default>
      </div>
      <div class="d-flex gap-4 mx-auto" style="width: fit-content">
        <a href="#" class="btn btn-primary-1 text-white rounded btn-lg"
          >Hire Me</a
        >
        <a href="#" class="btn btn-outline-primary-1 rounded btn-lg"
          >Portfolio</a
        >
      </div>
    </div>
  </div>
</section>
<app-section-divider [bgColor]="sectionColor"></app-section-divider>
